doctype html
  html
  head
    link(src= "/styles.css")
    title title
    meta something 
    script(src= JQUERY)
  body
    h1 "new"
    a(href= "new") Create a new Squirrel!
    script(src="/app.js" type="javascript/text")
