doctype html
  html
  head
    meta(charset='utf-8')
    link(href="/style.css" rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js')
    title= #{title}
  body
    h1 #{title}
    h2 Name:
    p squirrel.name
    h2 Type:
    p squirrel.type
    a(href="/squirrel/" + puppy.name + "/edit") Edit
    br
    a(href="/squirrel/") Home
    script(type='text/javascript' src='/app.js')
